# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.mypy_cache/
test_reports/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.log.*
*.pot

# Sphinx documentation
docs/_build/

# Mac folder config files
.DS_Store

*.lock

# vim
*.sw[o-z]

# configuration files
config.*
*.ini

data/
doc/
log/
fig/
ci/buildimage
.vagrant
*.csv
*.out
.vscode
.idea
.projectile
.pytest_cache
*.txt
.coverage*
.ipynb_checkpoints/
*.pkl
