[Unit]
Description=Cassandra container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a cassandra
ExecStop=/usr/bin/docker stop -t 2 cassandra

[Install]
WantedBy=default.target